<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.demo.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="blogResultMap" type="org.springblade.demo.entity.Blog">
        <id column="id" property="id"/>
        <result column="blog_title" property="blogTitle"/>
        <result column="blog_content" property="blogContent"/>
        <result column="blog_date" property="blogDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        select
        id, blog_title, blog_content, blog_date, is_deleted
    </sql>

    <select id="selectBlogPage" resultMap="blogResultMap">
        select * from blade_blog where is_deleted = 0
    </select>

</mapper>
